# Pandas
- <h3>for reading data from different source and perfom optimal analysis on it.

In [1]:
import pandas as pd
import numpy as np

# Python Pandas Data Structure
- <h3>1.Data Series</h3>
 - a one-dimensional array storing diff data types. <br>
 - data types like list, dictionary or scalar value.
- <h3>2.Data Frames</h3>
     - DataFrame is defined as a standard way to store data and has two different indexes, i.e., row index and column index.

### Lets talk about data frame first

# DataFrame

### <font color=red>pd.DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)</font>
#### data = list, array, dict etc<br>index = values for row index names by default is 0 1 2 3 4.....<br> columns = values for column names by default is 0 1 2 3 4 ......

In [37]:
list1 = list(range(10,16))
df = pd.DataFrame(list1)
df

    0
0  10
1  11
2  12
3  13
4  14
5  15

In [67]:
arr = np.arange(24)
print("array is : \n",arr,"\n")

np.random.shuffle(arr)    # shuffling the array created
print("shuffled array is \n",arr,"\n")

arr=arr.reshape(4,6)      # reshaping array.
print("a 4*6 size array \n",arr)

array is :
 [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23]

shuffled array is
 [19 14  2 20  8  1 18 21  5  9 12 17 23  0 10 13  6 22 11 15  4 16  7  3]

a 4*6 size array
 [[19 14  2 20  8  1]
 [18 21  5  9 12 17]
 [23  0 10 13  6 22]
 [11 15  4 16  7  3]]

In [71]:
df = pd.DataFrame(arr)     # creating a data frmae for arr

df                         # 4*6 size array is presented in form of a 2d table
                           # having row and column labels/indexes/headings with it.

    0   1   2   3   4   5
0  19  14   2  20   8   1
1  18  21   5   9  12  17
2  23   0  10  13   6  22
3  11  15   4  16   7   3

In [91]:
# giving custom row and column indexes

row_index = ["Row 1","Row 2","row 3","row 4"]
col_index = ["Col 1","Col 2","Col 3","Col 4","Col 5","Col 6"]

df = pd.DataFrame(arr, index = row_index, columns = col_index)
df

       Col 1  Col 2  Col 3  Col 4  Col 5  Col 6
Row 1     19     14      2     20      8      1
Row 2     18     21      5      9     12     17
row 3     23      0     10     13      6     22
row 4     11     15      4     16      7      3

# accessing rows and columns in data frame
 -  2 methods : -
  - i). loc
  - ii). iloc or indexed location

In [135]:
df2 = df.loc[:"Row 1","Col 1":"Col 2"]
print(df2,"\n")

df3 = df.loc["Row 1"]
print(df3,"\n")

#df2 = df.loc[0:]           # error as there is no 0 row location it is now named Row 1.
                            # to solve this we use iloc index location.

df4 = df.iloc[0:]
print("using iloc \n\n",df4)

print("\n",df.iloc[:3,1:4])

       Col 1  Col 2
Row 1     19     14

Col 1    19
Col 2    14
Col 3     2
Col 4    20
Col 5     8
Col 6     1
Name: Row 1, dtype: int32

using iloc

        Col 1  Col 2  Col 3  Col 4  Col 5  Col 6
Row 1     19     14      2     20      8      1
Row 2     18     21      5      9     12     17
row 3     23      0     10     13      6     22
row 4     11     15      4     16      7      3

        Col 2  Col 3  Col 4
Row 1     14      2     20
Row 2     21      5      9
row 3      0     10     13

# accessing particular column or various random columns directly

In [46]:
arr2 = np.arange(12)
np.random.shuffle(arr2)
arr2 = arr2.reshape(3,4)
print("array is : \n",arr2)

rindex = ["r1","r2","r3"]
cindex = ["c1","c2","c3","c4"]

df = pd.DataFrame(arr2, index = rindex, columns = cindex)
print("\nDataFrame is :\n",df)

column1 = df[['c1']]                           # accessing single index.
print(type(column1))
print("\naccessing column c1 only: ",column1)

random_columns = df[['c1','c3','c4']]
print("\naccessing multiple random columns:\n",random_columns)

array is :
 [[ 5  1  7  2]
 [ 6 10  8  3]
 [ 4  9 11  0]]

DataFrame is :
     c1  c2  c3  c4
r1   5   1   7   2
r2   6  10   8   3
r3   4   9  11   0
<class 'pandas.core.frame.DataFrame'>

accessing column c1 only:      c1
r1   5
r2   6
r3   4

accessing multiple random columns:
     c1  c3  c4
r1   5   7   2
r2   6   8   3
r3   4  11   0

# accessing particular rows/column or various random rows/columns using loc and iloc

In [74]:
arr = np.array( [[5,1,7,2],[6,10,8,3],[4,9,11,0]] )
df = pd.DataFrame(arr,index=['r1','r2','r3'],columns=['c1','c2','c3','c4'])
print(df)

# df.loc[[rows],[columns]]
print("\nusing loc:")
print(df.loc[['r1','r3'],['c1','c3']])

# df.iloc[[row_indexes],[col_indexes]]
print("\nusing iloc:")
print(df.iloc[[0,2],[0,1,3]])

    c1  c2  c3  c4
r1   5   1   7   2
r2   6  10   8   3
r3   4   9  11   0

using loc:
    c1  c3
r1   5   7
r3   4  11

using iloc:
    c1  c2  c4
r1   5   1   2
r3   4   9   0